{% extends 'base.html' %}

{% block title %}Entries{% endblock %}

{% block content %}
  <form action="{{ url_for('blog.create') }}" method="post" autocomplete="off">
    <input name="title" id="new-post-title" value="{{ request.form['title'] }}"
           placeholder="Start with a title to create a new entry" required autofocus>
    <textarea name="body" id="new-post-body" style="display:none">{{ request.form['body'] }}</textarea>
    <input type="submit" id="new-post-save" value="Save" class="main-submit" style="display:none">
  </form>
  {% for post in posts %}
    <hr>
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.update', id=post['id']) }}" title="Click to edit this entry">{{ post['title'] }}</a></h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'] }}</div>
          <!-- we used to post['created'].strftime('%Y-%m-%d') to format datatime -->
        </div>
        {# {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %} #}
      </header>
      <p class="body">{{ post['body'] | safe }}</p>
    </article>
    {# {% if not loop.last %}
      <hr>
    {% endif %} #}
  {% endfor %}
  <hr>
  <div class="content-right">
    <a href="{{ url_for('blog.download') }}" title="Click to download all posts">Download Posts</a>
  </div>
  <script src="{{ url_for('static', filename='blog-index.js') }}"></script>
{% endblock %}
